<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Semantic</title>
  </head>

  <body>
    <header>
      <hgroup>
        <h1>网站标题</h1>
        <h2>网站副标题</h2>
      </hgroup>
    </header>

    <nav>
      <ul>
        <li>HTML语义化</li>
        <li>CSS 语义化</li>
      </ul>
    </nav>

    <article>
      <h1>你好，我是这边文章的标题</h1>
      <p>你好，我是文章的内容</p>
      <footer>
        <p>最终解释权归XXX所有</p>
      </footer>
    </article>

    <article>
      <h1>web语义化</h1>
      <p>什么是语义化？</p>

      <section>
        <h2>语义化详解</h2>
        <p>语义化就是。。。</p>
      </section>

      <div>
        <h2>语义化特点</h2>
        <p>语义化特点就是。。。</p>
      </div>
    </article>

    <article>
      <p>内容</p>
      <aside>
        <h1>作者简介</h1>
        <p>Jovi, 哈哈哈</p>
      </aside>
    </article>

    <footer>
      COPYRGHT@Jovi
    </footer>
  </body>
</html>
