**/dist/
**/node_modules/
**/storybook-static/
**/target/
**/pkg/
mechanisms/generator/regenerator-runtime.js
mechanisms/generator/transform-generator.js
docs/history/

examples/graphql/server/generated/
