<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Basic usage</title>
  <style>
    @import url(global.css);

    .container {
      background-color: grey;
      height: 300px;
    }

    .span {
      display: inline-block;
      width: 20px;
      height: 10px;
      background-color: black;
    }
  </style>
</head>

<body>
  <div class="container">
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
  </div>
</body>

</html>
